%br/
#heading.middle.back
  Got todo? You've come to the right place!

#sub-heading.middle.back
  Manage your tasks and "to do" items here.<br /><br />

.middle.front
  Have an account?<br />
  = partial :login

  New here? Create a username/password<br />
  = partial :add_account

