%form(action="/user" method="post")
	%label Username:
	%input(name="user" type="text"){:value => "#{@user}"}/ 
	<br />
	%label Password:
	%input(name="password" type="password")/ 
	<br />
	%label Enter password again:
	%input(name="repeat" type="password")/ 
	<br />
	%input(type="submit" value="Create Account")/ 
	<br />

Note: We only store encrypted (MD5 hash of) usernames and passwords<br />
If you forget either, you will have to start over. Data is not<br />
recoverable in such case. On the plus side, if our<br />
server is hacked, your username and password are safe.<br />
Your to do's are stored in clear text. Take care!

<br /><br />
